.etiquetasContainer {
    margin: auto;
    border-spacing: 0;
}

.etiquetasContainer table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

.etiquetasContainer th,
.etiquetasContainer td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.etiquetasContainer tr:nth-child(even) {
    background-color: #f2f2f2;
}

.etiquetasContainer th {
    background-color: #4CAF50;
    color: white;
}

.etiquetaData {
    display: none;
}

.etiquetaUnidade {
    display: none;
}

.etiquetasContainer th:last-child {
    background-color: crimson;
}

.etiquetasContainer tr td:last-child button {
    background-color: rgb(243, 42, 82);
    color: white;

    &:hover {
        background-color: rgb(188, 2, 39);
    }

    &:active {
        background-color: #d0d0d0;
    }

    &:focus {
        outline: none;
    }
}

.precosWrapper button {
    display: block;

    margin: 0 auto;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #22459d;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
    
    &:hover {
        background-color: #0c1a4b;
    }

    &:active {
        background-color: #d0d0d0;
    }

    &:focus {
        outline: none;
    }
}

.printButton {
    color: black !important;
    background-color: #f0eeee !important;
    margin: 0 !important;

    &:hover {
        background-color: #e0e0e0 !important;
    }

    &:active {
        background-color: #d0d0d0 !important;
    }
}

@media print {
    .etiquetasContainer {
        width: fit-content;
        display: block;
        column-count: 2;
        column-gap: 0.1rem;
        margin: auto;
        padding: 1rem;
    }

    .etiqueta {
        position: relative;
        width: 10cm;
        height: 3cm;
        border: 2px dotted black;
        font-family: Arial, Helvetica, sans-serif;
        break-inside: avoid;
        page-break-inside: avoid;
    }

    .etiquetaUnidade {
        position: absolute;
        top: 2mm;
        left: 2mm;
        font-weight: bold;
    }

    .etiquetaPosicao {
        position: absolute;
        top: 7.5mm;
        left: 2mm;
        font-weight: bold;
        font-size: 90%;
    }

    .etiquetaPreco {
        position: absolute;
        top: 3mm;
        right: 2mm;
        font-weight: bolder;
        font-size: x-large;
    }

    .etiquetaCodigo {
        position: absolute;
        top: 1.3cm;
        left: 2mm;
        font-weight: bold;
        font-size: 90%;
    }

    .etiquetaDescricao {
        position: absolute;
        top: 1.8cm;
        left: 2mm;
        font-size: medium;
        font-weight: bold;
        padding-right: 1mm;
        text-transform: uppercase;
    }

    .etiquetaData {
        position: absolute;
        bottom: 3mm;
        right: 2mm;
        font-size: x-small;
    }

    .etiqueta,
    .etiqueta thead,
    .etiqueta tbody,
    .etiqueta tr,
    .etiqueta th,
    .etiqueta td {
        display: block;
    }

    .etiquetasContainer th,
    .etiquetasContainer td {
        border: none;
        padding: 0;
        background-color: transparent;
    }

    .etiquetasContainer th {
        background-color: transparent;
    }

    .etiquetasContainer thead {
        display: none;
    }
}