.pageBreak {
    display: none;
}

@media print {
    .pageBreak {
        display: block;
        page-break-before: always;
        height: 5mm;
        grid-column: 2 span;
    }

    button {
        display: block;
    }
    
    .etiquetasContainer {
        width:fit-content;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.3rem;
        margin: auto;
        padding: 1rem;
    }
    
    .etiqueta {
        position: relative;
        width: 10cm;
        height: 3cm;
        border: 2px dotted black;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .etiquetaUnidade {
        position: absolute;
        top: 2mm;
        left: 2mm;
        font-weight: bold;
    }
    
    .etiquetaPosicao {
        position: absolute;
        top: 7.5mm;
        left: 2mm;
        font-weight: bold;
        font-size: 90%;
    }
    
    .etiquetaPreco {
        position: absolute;
        top: 3mm;
        right: 2mm;
        font-weight: bolder;
        font-size: x-large;
    }
    
    .etiquetaCodigo {
        position: absolute;
        top: 1.25cm;
        left: 2mm;
        font-weight: bold;
        font-size: 90%;
    }
    
    .etiquetaDescricao {
        position: absolute;
        bottom: 2.5mm;
        left: 2mm;
        font-size: medium;
        font-weight: bold;
        padding-right: 1mm;
        text-transform: uppercase;
    }
    
    .etiquetaData {
        position: absolute;
        bottom: 3mm;
        right: 2mm;
        font-size: x-small;
    }
}