.pageBreak {
    display: none;
}

.etiquetasPromoWrapper button {
}

@media print {
    .pageBreak {
        display: block;
        page-break-before: always;
        height: 5mm;
        grid-column: 2 span;
    }

    button {
        display: block;
    }
    
    .etiquetasContainer {
        width:fit-content;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        padding: 1rem;
    }
    
    .etiqueta {
        position: relative;
        width: 8.5cm;
        height: 6cm;
        border: 2px dotted black;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .etiquetaPromocao {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        font-size: 32px;
        font-weight: 800;
    }
    
    .etiquetaUnidade {
        position: absolute;
        top: 4.5cm;
        left: 2mm;
        font-weight: bold;
    }
    
    .etiquetaPosicao {
        position: absolute;
        bottom: 5mm;
        left: 2mm;
        font-weight: bold;
    }
    
    .etiquetaAviso {
        position: absolute;
        bottom: -1mm;
        left: 2mm;
        font-size: xx-small;
    }
    
    .etiquetaPreco {
        position: absolute;
        top: 3cm;
        right: 5mm;
        font-weight: 800;
        font-size: 36px;
    }
    
    .etiquetaAVista {
        position: absolute;
        top: 3.9cm;
        right: 5mm;
    }
    
    .etiquetaCodigo {
        position: absolute;
        top: 2.8cm;
        left: 2mm;
        font-weight: bold;
        font-size: 90%;
    }
    
    .etiquetaDescricao {
        position: absolute;
        top: 1.5cm;
        padding: 0 2mm;
        font-size: medium;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .etiquetaData {
        position: absolute;
        bottom: 3mm;
        right: 2mm;
        font-size: x-small;
    }
}