.etiquetasContainer th:last-child {
    background-color: #1976d2 !important;
}

@media print {
    .etiquetasContainer {
        display: block;
    }

    .etiquetasContainer thead th {
        width: max-content;
        padding: 0.1rem 1rem;
        color: black;
    }

    .etiquetasContainer tbody td {
        width: max-content;
        padding: 0.2rem 1rem;
    }

    .etiquetasContainer td {
        background-color: transparent;
    }

    .etiquetasContainer table {
        border: 1px solid black !important;
        border-collapse: revert;
    }
}