.precosWrapper {
    background-color: transparent;
}

.etiquetaData {
    display: none;
}

.etiquetaUnidade {
    display: none;
}

@media print {
    button {
        display: none;
    }

    .etiquetasContainer td {
        text-align: left;
    }

    .etiquetasContainer {
        width: fit-content;
        display: block;
        column-count: 2;
        column-gap: 0.1rem;
        margin: auto;
        padding: 1rem;
    }

    .etiqueta {
        position: relative;
        width: 10cm;
        height: 3cm;
        border: 1px dotted black;
        font-family: Arial, Helvetica, sans-serif;
        break-inside: avoid;
        page-break-inside: avoid;
    }

    .etiquetaUnidade {
        position: absolute;
        top: 2mm;
        left: 2mm;
        font-weight: bold;
    }

    .etiquetaPosicao {
        position: absolute;
        top: 7.5mm;
        left: 2mm;
        font-weight: bold;
        font-size: 90%;
    }

    .etiquetaPreco {
        position: absolute;
        top: 3mm;
        right: 2mm;
        font-weight: bolder;
        font-size: x-large;
    }

    .etiquetaCodigo {
        position: absolute;
        top: 1.3cm;
        left: 2mm;
        font-weight: bold;
        font-size: 90%;
    }

    .etiquetaDescricao {
        position: absolute;
        top: 1.8cm;
        left: 2mm;
        font-size: medium;
        font-weight: bold;
        padding-right: 1mm;
        text-transform: uppercase;
    }

    .etiquetaData {
        position: absolute;
        bottom: 3mm;
        right: 2mm;
        font-size: x-small;
    }

    .etiqueta,
    .etiqueta thead,
    .etiqueta tbody,
    .etiqueta tr,
    .etiqueta th,
    .etiqueta td {
        display: block;
    }

    .etiquetasContainer th,
    .etiquetasContainer td {
        border: none;
        padding: 0;
        background-color: transparent;
    }

    .etiquetasContainer th {
        background-color: transparent;
    }

    .etiquetasContainer thead {
        display: none;
    }
}