.etiquetasContainer {
    width: 95%;
    margin: auto;
    padding: 1rem;    
    border-spacing: 0;
}

.etiquetasContainer table {
    width: 100%;
    border-collapse: collapse;
}

.etiquetasContainer th,
.etiquetasContainer td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.etiquetasContainer tr:nth-child(even) {
    background-color: #f2f2f2;
}

.etiquetasContainer th {
    background-color: #4CAF50;
    color: white;
}

.etiquetaData {
    display: none;
}

.etiquetaPromocao {
    display: none;
}

.etiquetaUnidade {
    display: none;
}

.etiquetaAVista {
    display: none;
}

.etiquetaAviso {
    display: none;
}

.etiquetasPromoWrapper button {
    display: block;

    margin: 0 auto;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
    
    &:hover {
        background-color: #e0e0e0;
    }

    &:active {
        background-color: #d0d0d0;
    }

    &:focus {
        outline: none;
    }
}

@media print {    
    .etiquetasContainer thead {
        display: none;
    }

    .etiquetasContainer {
        width: fit-content;
        display: block;
        column-count: 2;
        column-gap: 0.1rem;
        margin: auto;
        padding: 1rem;
    }

    .etiqueta {
        position: relative;
        width: 8.5cm;
        height: 6cm;
        border: 2px dotted black;
        font-family: Arial, Helvetica, sans-serif;
        break-inside: avoid;
        page-break-inside: avoid;
    }

    .etiqueta,
    .etiqueta thead,
    .etiqueta tbody,
    .etiqueta tr,
    .etiqueta th,
    .etiqueta td {
        display: block;
    }

    .etiquetasContainer th,
    .etiquetasContainer td {
        border: none;
        padding: 0;
        background-color: transparent;
    }

    .etiquetasContainer th {
        background-color: transparent;
    }

    .etiquetasContainer thead {
        display: none;
    }

    .etiquetaPromocao {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        font-size: 32px;
        font-weight: 800;
    }
    
    .etiquetaUnidade {
        position: absolute;
        top: 4.5cm;
        left: 2mm;
        font-weight: bold;
    }
    
    .etiquetaPosicao {
        position: absolute;
        bottom: 5mm;
        left: 2mm;
        font-weight: bold;
    }
    
    .etiquetaAviso {
        position: absolute;
        bottom: 1mm;
        left: 2mm;
        font-size: xx-small;
        display: block;
    }
    
    .etiquetaPreco {
        position: absolute;
        top: 3cm;
        right: 5mm;
        font-weight: 800;
        font-size: 36px;
    }
    
    .etiquetaAVista {
        position: absolute;
        top: 4.3cm;
        right: 4.8mm;
        display: block;
    }
    
    .etiquetaCodigo {
        position: absolute;
        top: 2.8cm;
        left: 2mm;
        font-weight: bold;
        font-size: 90%;
    }
    
    .etiquetaDescricao {
        position: absolute;
        top: 1.5cm;
        left: 2mm;
        padding: 0 2mm;
        font-size: medium;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .etiquetaData {
        position: absolute;
        bottom: 3mm;
        right: 2mm;
        font-size: x-small;
    }
   
/*    
    
    .etiquetasPromoWrapper button {
        display: block;
    
        margin: 0 auto;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        background-color: #f0f0f0;
        color: #000;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
    
        transition: all 0.2s ease-in-out;
        
        &:hover {
            background-color: #e0e0e0;
        }
    
        &:active {
            background-color: #d0d0d0;
        }
    
        &:focus {
            outline: none;
        }
    } */
}