.etiquetaData {
    display: none;
}

.etiquetaPromocao {
    display: none;
}

.etiquetaUnidade {
    display: none;
}

.etiquetaAVista {
    display: none;
}

.etiquetaAviso {
    display: none;
}

@media print {
    .etiquetasContainer thead {
        display: none;
    }

    .etiquetasContainer {
        width: fit-content;
        display: block;
        column-count: 2;
        column-gap: 0.1rem;
        margin: auto;
        padding: 1rem;
    }

    .etiqueta {
        position: relative;
        width: 8.5cm;
        height: 6cm;
        border: 1px dotted black;
        font-family: Arial, Helvetica, sans-serif;
        break-inside: avoid;
        page-break-inside: avoid;
    }

    .etiqueta,
    .etiqueta thead,
    .etiqueta tbody,
    .etiqueta tr,
    .etiqueta th,
    .etiqueta td {
        display: block;
    }

    .etiquetasContainer th,
    .etiquetasContainer td {
        border: none;
        padding: 0;
        background-color: transparent;
    }

    .etiquetasContainer th {
        background-color: transparent;
    }

    .etiquetasContainer thead {
        display: none;
    }

    .etiquetaPromocao {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        font-size: 32px;
        font-weight: 800;
    }

    .etiquetaUnidade {
        position: absolute;
        top: 4.5cm;
        left: 2mm;
        font-weight: bold;
    }

    .etiquetaPosicao {
        position: absolute;
        bottom: 5mm;
        left: 2mm;
        font-weight: bold;
    }

    .etiquetaAviso {
        position: absolute;
        bottom: 1mm;
        left: 2mm;
        font-size: xx-small;
        display: block;
    }

    .etiquetaPreco {
        position: absolute;
        top: 3cm;
        right: 5mm;
        font-weight: 800;
        font-size: 36px;
    }

    .etiquetaAVista {
        position: absolute;
        top: 4.3cm;
        right: 4.8mm;
        display: block;
    }

    .etiquetaCodigo {
        position: absolute;
        top: 2.8cm;
        left: 2mm;
        font-weight: bold;
        font-size: 90%;
    }

    .etiquetaDescricao {
        position: absolute;
        top: 1.5cm;
        left: 2mm;
        padding: 0 2mm;
        font-size: medium;
        font-weight: bold;
        text-transform: uppercase;
    }

    .etiquetaData {
        position: absolute;
        bottom: 3mm;
        right: 2mm;
        font-size: x-small;
    }
}