.etiquetasContainer {
    width: 100%;
    margin: auto;
    border-spacing: 0;
}

.etiquetasContainer table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
}

.etiquetasContainer table td {
    border: 1px solid #000;
    padding: 0.5rem;
}

.etiquetasContainer table th {
    border: 1px solid #000;
    padding: 0.5rem;
}

.etiquetasContainer tr:nth-child(even) {
    background-color: #e9e7e7;
}

.etiquetasContainer th {
    background-color: #4CAF50;
    color: white;
}

@media print {
    .etiquetasContainer th {
        background-color: #ccc;
        color: black;
    }
}