:-webkit-autofill {
    filter: none;
    box-shadow: 0 0 0 100px white inset;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 4rem;
}

.loginContainer p {
    font-size: 1.5rem;
    font-weight: 600;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.1rem;
}

.loginForm input {
    width: 20rem;
    height: 2.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0 1rem;
    font-size: 1rem;
    outline: none;
}

.loginForm label {
    position: relative;
    top: -2.1rem;
    left: -8.5rem;
    font-size: 1rem;
    font-weight: 100;
    transition: all 0.3s ease-in-out;
}

.loginForm input:focus+label,
.loginForm input:valid+label {
    background-color: white;
    padding: 0 0.5rem;
    transform: translateY(-100%) scale(0.8);
    color: #1a73e8;
}

.loginForm input:-webkit-autofill+label,
.loginForm input:focus+label,
.loginForm input:not(:placeholder-shown)+label {
    background-color: white;
    padding: 0 0.5rem;
    transform: translateY(-100%) scale(0.8);
    transition: 0.3s ease-in-out;
    color: #1a73e8;
}

.loginForm input:-webkit-autofill,
.loginForm input:valid,
.loginForm input:not(:placeholder-shown) {
    border: solid 1px #1a73e8;
}

.loginForm input:focus {
    border: solid 2px #1568d5;
}

.loginForm button {
    width: 20rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #1a73e8;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.loginForm .links {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-top: 1rem;
}

.loginForm a {
    margin-top: 1rem;
    font-size: 1em;
    color: #1a73e8;
    text-decoration: none;
}

.loginForm .labelFilial {
    position:initial; 
    font-size: 1.2rem;
    font-weight: 100;
}

.loginForm select {
    width: 353.81px;
    height: 41.82px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0 0.6rem;
    font-size: 1rem;
    outline: none;
    margin-bottom: 22.73px;
}

.loginForm select:focus{
    border: solid 2px #1568d5;
}

.loginForm .passwordConfirmLabel {
    position: relative;
    top: -2.1rem;
    left: -5.5rem;
    font-size: 1.2rem;
    font-weight: 100;
    transition: all 0.3s ease-in-out;
}

label:hover {
    cursor:text;
}