.logoWrapper {
    display: flex;
    padding: 0 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: white;
}

.logoWrapper p, h4 {
    margin: 5px;
}

.logo {
    height: 3.5rem;
    width: auto;
    margin: 0px auto;
}

@media print {
    .logo {
        display: none;
    }
}