.etiquetasWrapper {
    background-color: transparent;
}

.etiquetasWrapper p {
    margin-top: 0px;
    background-color: #1976d2;
    color: white;
    width: 100%;
    margin-left: -10px;
    font-weight: 650;
    font-size: 1.3rem;
    letter-spacing: 0.0075em;
    height: 50px;
    line-height: 50px;
    padding-left: 22px;
    overflow: hidden;
}

.etiquetasContainer {
    height: auto;
    margin-bottom: 10px;
    border-spacing: 0;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow:
        0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.tableMinHeight {
    min-height: 500px;
}

.etiquetasContainer table {
    width: 100%;
    border-collapse: collapse;
}

.etiquetasContainer th,
.etiquetasContainer td {
    padding: 8px;
    text-align: center;
}

.etiquetasContainer tr {
    border-top: 1px solid #ddd;
}

.etiquetasContainer tr:nth-child(even) {
    background-color: #f2f2f2;
}

.etiquetasContainer th {
    background-color: #1976d2;
    color: white;
}

.etiquetasContainer th:last-child {
    background-color: crimson;
}

.etiquetasContainer tr td:last-child button {
    background-color: rgb(243, 42, 82);
    color: white;

    &:hover {
        background-color: rgb(188, 2, 39);
    }

    &:active {
        background-color: #d0d0d0;
    }

    &:focus {
        outline: none;
    }
}

.printButton {
    margin-left: 12px;
    margin-bottom: 4px;
}

@media print {
    .etiquetasContainer {
        box-shadow: none;
    }

    .etiquetasContainer td,
    .etiquetasContainer th {
        padding: 0px;
        text-align: left;
    }
}