.xlsxHandling {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.xlsxHandling h4 {
    text-align: center;
    margin-bottom: 10px;
}

.xlsxHandling input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    width: 95%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.xlsxHandling button {
    width: 162px;
}

.ligado {
    background-color:rgb(29, 135, 255) !important;
}