.wrapper {
    display: grid;
    grid-template-columns: 256px 1fr;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px;
    grid-gap: 10px;
}

button {
    transition: all 0.2s ease-in-out;
}

@media print {

    /* Esconde todos os elementos */
    body * {
        visibility: hidden;
    }

    /* Mostra apenas o componente EtiquetasPreco e seus filhos */
    .etiquetasContainer,
    .etiquetasContainer * {
        visibility: visible;
    }

    /* Posiciona o componente EtiquetasPreco no topo da página */
    .etiquetasContainer {
        position: absolute;
        left: 0;
        top: 0;
    }

    .etiquetasContainer button {
        display: none;
    }    
}