:root {
    --azul_elevato: #294260;
    --amarelo_elevato: #EEB310;
    --cinza_elevato: #5A5B5D;
}

body > * {
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
    font-family: Helvetica;
    font-weight: 400;
    font-size: 1rem;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-columns: max-content 1fr;
    position: relative;
    background-color: #f5f5f5;
}

.main {
    margin: 0 10px;
}

.sidebar {
    height: 100%;
    max-height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar > *:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.sidebar > * {
    padding: 20px 0px;
}

button {
    width: fit-content;
    padding: 8px;
    cursor: pointer;
    margin: 2px;
    background-color: white;
    border: 2px solid var(--azul_elevato);
    border-radius: 5px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.87);

    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: var(--azul_elevato);
    color: white;
}

@media print {

    /* Esconde todos os elementos */
    body * {
        visibility: hidden;
    }

    /* Mostra apenas o componente EtiquetasPreco e seus filhos */
    .etiquetasContainer,
    .etiquetasContainer * {
        visibility: visible;
    }

    /* Posiciona o componente EtiquetasPreco no topo da página */
    .etiquetasContainer {
        position: absolute;
        left: 0;
        top: 0;
    }

    .etiquetasContainer button {
        display: none;
    }
}